body {
  background-color:lightblue;
}
h1 {
  color:darkgray;
  font-size:300%;
  font-family: sans-serif;
  border: 8px dotted white;
  padding: 10px;
  text-align: center;
}
p {
  color: darkgray;
  font-family: Arial;
  font-size: 150%;
  border: 5px dotted white;
  padding: 8px;
}